* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", monospace;
}
body{
  margin:0;
}
.main {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
}
.header {
  display: flex;
  position: sticky;
  top: 0;
  width: 100vw;
  height: 60px;
  z-index: 2;
  box-shadow: 0 2px 10px rgb(0 0 0 / 11%);
  background-color: white;
}

.logo {
  align-content: center;
  float: left;
  margin-right: 43%;
  margin-left: 35px;
}
.menu {
  float: left;
}
.menu ul {
  float: left;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu ul li {
  list-style: none;
  margin-left: 60px;
  margin-top: 20px;
  font-size: 15px;
}
.menu ul li a {
  text-decoration: none;
  color: black;
  font-family: "Lucida Console", monospace;
  font-weight: 595;
  transition: 0.3s ease-in-out;
}
.menu ul li a:hover {
  color: #ff0055;
}

h1 {
  /* color: grey; */
  text-align: center;
  margin-top: 45px;
  font-size: 32px;
  margin-bottom: 35px;
}

.belowh1 {
  margin-top: 25px;
  width: 316px;
  height: 42px;
  background-color: #fcb24433;
  margin: auto;
  display: flex;
  justify-content: space-around;
  margin-bottom: 25px;
  font-size: small;
}

.bh1,
.bh2 {
  align-content: center;
  color: grey;
}

.bh1 {
  border-right: 1px solid grey;
  padding-right: 30px;
  margin: 10px 0px;
}

.search-bar {
  margin-left: 31%;
  float: left;
}
.search-bar .srch {
  font-family: "Lucida Console", monospace;
  width: 410px;
  background: transparent;
  border: 1px solid grey;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding: 7px;
  border-right: none;
  float: left;
}
.search-bar .btn {
  color: white;
  width: 90px;
  height: 31px;
  background-color: #e3324a;
  border: 1px solid grey;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.search-bar .btn:active {
  outline: none;
}
.search-bar .srch:focus {
  outline: none;
}
.blue-line {
  width: 100%;
  height: 44px;
  background-color: lightblue;
  text-align: center;
  margin-top: 100px;
  padding-top: 7px;
  font-family: "Courier New", monospace;
  font-size: 22px;
}
.img-div-1 {
  margin-top: 40px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}
.id1 {
  align-content: center;
}
.grid-div-1 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}
.grid-div-1 .gd1 {
  align-items: center;
}
.grid-div-1 .gd1c {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #e3324a;
  display: flex;
  justify-content: center;
  align-items: center;
}
.video {
  background-color: lightblue;
  width: 100%;
}
