* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", monospace; 
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 5%;
  z-index: 100;
  box-shadow: 0 2px 10px rgb(0 0 0 / 11%);
  background-color: white;
}

.main{
   background-image: url("bg.png");
   background-size: cover;
   background-attachment: fixed;
}

.logo img {
    height: 35px;
    width: auto;
}
.menu{
  padding-bottom:1%;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

.menu ul li {
  list-style: none;
  margin-left: 60px;
  margin-top: 20px;
  font-size: 15px;
}
.menu ul li a {
  text-decoration: none;
  color: black;
  font-family: "Lucida Console", monospace;
  font-weight: 595;
  transition: 0.3s ease-in-out;
}
.menu ul li a:hover {
  color: #ff0055;
}

h1 {
  /* color: grey; */
  text-align: center;
  margin-top: 45px;
  font-size: 1.8rem;
  margin-bottom: 35px;
}

.belowh1 {
  margin-top: 25px;
  width: 316px;
  height: 42px;
  background-color: #fcb24433;
  margin-left:40%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px;
  font-size: small;
}

.bh1,
.bh2 {
  align-content: center;
  color: grey;
}

.bh1 {
  border-right: 1px solid grey;
  padding-right: 30px;
  margin: 10px 0px;
}

.search-bar {
  margin-left: 34%;
  float: left;
}
.search-bar .srch {
  font-family: "Lucida Console", monospace;
  width: 410px;
  background: transparent;
  border: 1px solid grey;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  padding: 7px;
  border-right: none;
  float: left;
}
.search-bar .btn {
  color: white;
  width: 90px;
  height: 31px;
  background-color: #e3324a;
  border: 1px solid grey;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.search-bar .btn:active {
  outline: none;
}
.search-bar .srch:focus {
  outline: none;
}
.blue-line {
  width: 100%;
  height: 44px;
  background-color: lightblue;
  text-align: center;
  margin-top: 100px;
  padding-top: 7px;
  font-family: "Courier New", monospace;
  font-size: 1.3rem;
}
.img-div-1 {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 20px;
}
.feature-card {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 220px;
  transition: all 0.3s ease-in-out;
}
.feature-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}
.feature-card img {
  height: 75px;
  width: auto;
  margin-bottom: 15px;
}
.feature-card p {
  font-size: 1rem;
  font-weight: bold;
  color: #333;
}

.grid-div-1 {
  margin-top: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  justify-content: space-evenly;
  align-items: center;
  justify-items: center;
}
.grid-div-1 .gd1 {
  align-items: center;
}
.grid-div-1 .gd1c {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #e3324a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.blue{
  background-color: lightblue;
  color:white; 
  width: 100%;
  height:98%;
  padding-bottom: 2%;
  padding-left: 2%;
  padding-right: 2%;
}
.video{
 margin-left:31.5%;
 margin-bottom: 20px;
}

.box{
  height:250px;
  width:30%;
  padding:1%;
  background-color: white;
  color:black;
  text-align: center;
  align-content: center;
}
.flex1{
  display:flex;
  flex-wrap: wrap;
  column-gap:5%;
 
}

