* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", monospace;
}
.bg{
    width:100%;
    height:100%;
    background-color: transparent;
}
.box{
    margin:auto;
    margin-top:20%;
    width:45%;
    height:55%;
    background-color: white;
}