* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source sans pro", sans-serif;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 5%;
  z-index: 100;
  box-shadow: 0 2px 10px rgb(0 0 0 / 11%);
  background-color: white;
  font-size: 1.2rem;
}

.main {
  background-image: url("bg.png");
  background-size: cover;
  background-attachment: fixed;
}

.logo img {
  height: 38px;
  width: auto;
}
.menu {
  padding-bottom: 1%;
}

.menu ul {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  gap: 20px;
}

.menu ul li {
  list-style: none;
  margin-left: 55px;
  margin-top: 20px;
  font-size: 15px;
}
.menu ul li a {
  text-decoration: none;
  color: black;
  font-family: "Source sans pro", sans-serif;
  font-weight: 595;
  transition: 0.3s ease-in-out;
}
.menu ul li a:hover {
  color: #e3324a;
}
.menu-icon {
  display: none;
  cursor: pointer;
}

h1 {
  text-align: center;
  margin-top: 45px;
  font-size: 1.8rem;
  margin-bottom: 35px;
}

.belowh1 {
  margin-top: 25px;
  width: 316px;
  height: 42px;
  background-color: #fcb24433;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-bottom: 25px;
  font-size: small;
}

.bh1,
.bh2 {
  align-content: center;
  color: grey;
}

.bh1 {
  border-right: 1px solid grey;
  padding-right: 30px;
  margin: 10px 0px;
}

.search-bar {
  width: 90%;
  margin: 0 auto;
  display: flex;
}
.search-bar .srch {
  font-family: "Source sans pro", sans-serif;
  width: 100%;
  background: transparent;
  border: 1px solid grey;
  border-radius: 3px 0 0 3px;
  padding: 7px;
  border-right: none;
}
.search-bar .btn {
  color: white;
  width: 90px;
  height: 31px;
  background-color: #e3324a;
  border: 1px solid grey;
  border-radius: 0 3px 3px 0;
  cursor: pointer;
}
.search-bar .btn:active {
  outline: none;
}
.search-bar .srch:focus {
  outline: none;
}
.blue-line {
  width: 100%;
  height: auto;
  background-color: lightblue;
  text-align: center;
  margin-top: 100px;
  padding: 10px;
  font-family: "Source sans pro", sans-serif;
  font-size: 1.3rem;
}
.img-div-1 {
  margin-top: 40px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 0 5%;
}

.id1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
}

.id1 img {
  width: 40;
  height: 70;
  max-width: 100px;
}

.id1 caption {
  margin-top: 10px;
}

.grid-div-1 {
  margin-top: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 20px;
  padding: 0 5%;
  justify-items: center;
}

.difference-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 200px;
}

.grid-div-1 .gd1 {
  text-align: center;
}
.grid-div-1 .gd1c {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  border: 2px solid #e3324a;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 auto 10px;
}
.blue {
  background-color: lightblue;
  color: white;
  width: 100%;
  padding: 10px 5%;
}
.video {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 20px;
}

.video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.box {
  height: auto;
  width: 100%;
  margin-bottom: 20px;
  padding: 20px;
  background-color: white;
  color: black;
  text-align: center;
  align-content: center;
}
.flex1 {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media screen and (min-width: 768px) {
  .search-bar {
    width: 500px;
  }
  .flex1 {
    flex-direction: row;
    justify-content: space-between;
  }
  .box {
    width: 30%;
  }
}

@media screen and (max-width: 950px) {
  .menu-icon {
    display: block;
  }
  .menu {
    display: none;
    position: absolute;
    top: 60px;
    left: 0;
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px rgb(0 0 0 / 11%);
  }
  .menu.active {
    display: block;
  }
  .menu-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 0;
  }
  .menu ul {
    flex-direction: column;
    gap: 0;
  }
  .menu ul li {
    margin: 10px 0;
  }
}

@media screen and (min-width: 951px) {
  .menu {
    display: block !important;
  }
}
