* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source sans pro", sans-serif;
}
.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  width: 100%;
  height: 60px;
  padding: 0 5%;
  z-index: 100;
  box-shadow: 0 2px 10px rgb(0 0 0 / 11%);
  background-color: white;
}

.main{
   background-image: url("bg.png");
   background-size: cover;
   background-attachment: fixed;
}

.logo img {
    height: 35px;
    width: auto;
}
.menu{
  padding-bottom:1%;
}

.menu ul {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    gap: 20px;
}

.menu ul li {
  list-style: none;
  margin-left: 55px;
  margin-top: 20px;
  font-size: 15px;
}
.menu ul li a {
  text-decoration: none;
  color: black;
  font-family: "Source sans pro", sans-serif;
  font-weight: 595;
  transition: 0.3s ease-in-out;
}
.menu ul li a:hover {
  color: #ff0055;
}

.bg {
  width: 100%;
  background-image: url("bg.png");
  background-size: cover;
  background-attachment: fixed;
}
.box {
  background-color: white;
  padding: 40px;
  margin-top: 12%;
  width: 40%;
  margin-left:30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
fieldset{
  padding:30px;
  border: 1.5px solid #ff0055;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

label{
  line-height: 1;
}

input{
  border: none;
  border-bottom:1px solid black;
  width:100%;
  margin-top:20px;
  padding:10px;
  font-size: 1rem;
}

button{
  padding:10px;
  background-color: #ff0055;
  color:white;
  font-family: "Source sans pro", sans-serif;
  border:none;
  border-radius: 9px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
