* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Console", monospace;
}
.bg {
  width: 100%;
  background-image: url("bg.png");
  background-size: cover;
  background-attachment: fixed;
}
.box {
  background-color: white;
  padding: 40px;
  margin-top: 20%;
  width: 40%;
  margin-left:30%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
fieldset{
  padding:30px;
  border: 1.5px solid #ff0055;
}